__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
.DS_Store

.venv/
venv/
env/

outputs/*
!outputs/.gitkeep

artifacts/
checkpoints/
models/

berry_features.csv
cnn_visual_block.png
*.keras
*.h5

978-3-032-07336-5.pdf
dataset/
